:root {
    --color-primary-brand-light: #819b57;
    --color-primary-brand-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;
    --color-secondarydark: #a18268;
}

$bp-mobile: 480px;
$bp-tablet:768px;
$bp-desktop:1280px;
