/* Footer */
.footer {
    background-color: var(--color-primary-dark);
    background-image: url(../img/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    background-image: url("../img/footer-bread-small.png");
    width: 180px;
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

.footer::after {
    content: "";
    position: absolute;
    background-image: url("../img/footer-bread-big.png");
    width: 380px;
    height: 190px;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav {
    flex-basis: 50%;
    display: flex;
}

.footer-logo {
    flex-grow: 1;
}

.footer-menu {
    flex-grow: 1;
}

.address-list {
    flex-grow: 1;
}

.address-info {
    flex-grow: 1;
}

.footer-address {
    flex-basis: 50%;
    display: flex;
}

.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-primary-dark);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-primary-brand-light);
}

.address-copyright {
    color: #a18268;
    font-size: 14px;
}