.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
    opacity 0.3s,
    visibility 0.3s;
    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            padding: 20px 0;
            }
}



.modal {
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    position: relative;
    padding: 48px;
    overflow: auto;
    @media screen and (min-width: $bp-tablet) {
            padding: 128px;
        }
    &__btn-close {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 20px;
            height: 20px;
            border: none;
            background-color: transparent;
            &--icon{
               fill: var(--color-primary-dark); 
            }
        }
    &__title{
    text-align: center;

    }
    &__text {
        text-align: center;
        color: var(--color-primary-brand-dark);
    
    }
    &__form-field {
        margin-bottom: 24px; 

    }
    &__button{
        display: block;
        margin: 0 auto 24px;
    }   
}

